<section class="container" id="calc">
    <article class="calc">
        <h1 class="main-header">{{title}}</h1>
        <div class="calc__total">
            <div class="calc__sum"><span class="calc__sum-title">{{total}}</span><span class="calc__sum-value">0
                    BYN</span></div>
            <a href="" class="calc__button" data-modal="2">{{button}}</a>
        </div>
        <div class="range" id="id_cpu">
            <h2 class="range__title">vCPU:</h2>
        </div>
        <div class="range" id="id_ram">
            <h2 class="range__title">RAM:</h2>
        </div>
        <div class="range" id="id_sas">
            <h2 class="range__title">SAS:</h2>
        </div>
        <div class="range" id="id_ssd">
            <h2 class="range__title">SSD:</h2>
        </div>
        <div class="range" id="id_nl-sas">
            <h2 class="range__title">NL-SAS:</h2>
        </div>
        <div class="calc__total">
            <div class="calc__sum"><span class="calc__sum-title">{{total}}</span><span class="calc__sum-value">0
                    BYN</span></div>
            <a href="" class="calc__button" data-modal="2">{{button}}</a>
        </div>
    </article>
</section>