<div id="contacts">
    <section class="container present">
        <h1 class="main-header">{{title}}</h1>
        <div class="contacts">
            <ul class="contacts__wrapper">
                {{#each contacts-center}}
                    <li class="contacts__center">
                        <img alt="{{title}}" class="cardset__image contacts__center-image" src="">
                        <p class="contacts__center-title">{{title}}</p>
                        {{#if mail}}<a href="mailto:{{mail}}" class="contacts__center-contact">{{mail}}</a>{{/if}}
                        {{#if tel}}<a href="tel:{{tel}}" class="contacts__center-contact">{{tel}}</a>{{/if}}
                        <div class="contacts__center-accent"></div>
                        <p class="contacts__center-time">{{time}}</p>
                    </li>
                {{/each}}
            </ul>
            <article class="contacts__questions">
                <h2 class="main-header contacts__header">{{question}}</h2>
                <ul class="contacts__questions-wrapper">
                    {{#each questions}}
                        <li class="contacts__answer">
                            <p class="contacts__answer-text">{{title}}</p>
                            <a href="mailto:{{mail}}" class="contacts__answer-mail">{{mail}}</a>
                        </li>
                    {{/each}}
                </ul>
                <a href="" class="contacts__question-button" data-modal="1">{{button}}</a>
            </article>
        </div>
        <div class="contacts__contacts">
            <div class="contacts__image-wrapper">
                <img src="{{image}}" alt="{{title}}" class="contacts__image" />
                <img src="{{image}}" alt="{{title}}" class="contacts__image abs" />
                <div class="contacts__lights-wrapper"><img src="{{image}}" alt="{{title}}"
                        class="contacts__image lights" /></div>
                <div class="contacts__rocket">
                    <div class="contacts__rocket--port"></div>
                </div>
            </div>
            <ul class="contacts__list">
                {{#each contacts}}
                    <li class="contacts__list-item">
                        {{#if link}}
                            <a href="{{link}}" class="contacts__link" target="_blank"><i
                                    class="material-icons">{{icon}}</i>{{title}}</a>
                        {{/if}}
                        {{#if mail}}
                            <a href="mailto:{{mail}}" class="contacts__link"><i
                                    class="material-icons">{{icon}}</i>{{title}}</a>
                        {{else}}{{#unless link}}
                                <p class="contacts__contact"><i class="material-icons">{{icon}}</i>{{title}}</p>
                            {{/unless}}
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </section>
</div>