<div class="backdrop" data-close data-mouse>
    <div class="main-modal feedback">
        <button class="close-button icon-btn"><span data-close data-mouse class="material-icons">clear</span></button>
        <div class="modal">
            <div class="feedback__form-wrapper">
                <form action="feedback" class="feedback__form">
                    <h2 class="modal__header">{{title}}</h2>
                    <div class="feedback__wrapper">
                        {{#each fields}}
                            <div class="feedback__formfield">
                                {{#each field}}
                                    <label for="{{id}}" class="modal__label {{required}}">{{label}}</label><span
                                        class="star"> *</span>
                                    {{#if options}}
                                        <select name="{{id}}" id="{{id}}"
                                            class="modal__input feedback__select {{required}}" {{disabled}}>
                                            {{#each options}}
                                                <option value="{{@index}}" class="feedback__option" {{selected}}>
                                                    {{option}}
                                                </option>
                                            {{/each}}
                                        </select>
                                    {{/if}}
                                    {{#if textarea}}
                                        <textarea name="{{id}}" id="" cols="30" rows="18" resize="none"
                                            class="modal__input feedback__textarea {{required}}"
                                            {{disabled}}>{{text}}</textarea>
                                    {{/if}}
                                    {{#if input}}
                                        <input type="{{type}}" name="{{id}}" {{#if data}}data-type={{data}}{{/if}}
                                            class="modal__input {{required}}" id="{{id}}">
                                    {{/if}}
                                    <div class="error-wrapper"><span class="modal__message"></span>
                                    </div>
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>
                    <div class="feedback__check-wrapper">
                        <label for="feedback-check" class="modal__label feedback__check-label required"><input
                                type="checkbox" name="feedback-check" class="modal__input feedback__check required"
                                id="feedback-check" checked data-mouse>{{label}}
                            <div class="error-wrapper"><span class="modal__message"></span></div>
                        </label>
                        <button type="submit" class="feedback__button" data-mouse>{{button}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>