<ul class="navigation__list-group">
    <li class="visually-hidden" role="navigation" aria-labelledby="id_rout_6">
        <a href="/cabinet?lang={{lang}}" class="navigation__rout" id="id_rout_6">{{Cab}}</a>
    </li>
    <li>
        <ul class="authorization">
            <li class="authorization__item" role="navigation" aria-labelledby="id_login">
                <a href="" role="button" aria-label="login button" class="authorization__rout" id="id_login"
                    data-modal="0"><img src="../img/login.svg" alt="login button"
                        class="authorization__rout-login" /></a>
            </li>
        </ul>
    </li>
    {{!-- <li class="language" label="Language">
        <select class="language__select" name="language" id="id_language" class="language-select">
            <option value="{{lang}}" aria-label="Russian" selected>
                {{Lang}}
            </option>
            {{#each optionLang}}
                <option value="{{lang}}" aria-label="English">
                    {{Lang}}
                </option>
            {{/each}}
        </select>
    </li> --}}
    <li class="language" label="Language">
        <p class="language__select" name="language" id="id_language" class="language-select">
            {{#each optionLang}}
                <span data-lang="{{lang}}" aria-label="English">
                    {{Lang}}
                </span>
            {{/each}}
        </p>
    </li>
</ul>