<ul class="navigation__list-group" id="id_nav-group">
    {{#each navLinks}}
        <li class="navigation__item" role="navigation" aria-labelledby="id_rout_{{id}}">
            <a href="/{{href}}?lang={{../lang}}{{hash}}" class="navigation__rout--hover"
                id="id_rout_{{id}}">{{text}}</a><span class="navigation__rout">{{text}}</span>
            <div class="accent"></div>
        </li>
    {{/each}}
</ul>