<div class="backdrop" data-close data-mouse>
    <div class="main-modal authorization">
        <button class="close-button icon-btn"><span data-close data-mouse class="material-icons">clear</span></button>
        <div class="modal">
            <div class="modal__tabs">
                <div class="modal__tab active"><a class="modal__tab-link" href="" data-form="0">{{login}}</a></div>
                <div class="modal__tab"><a class="modal__tab-link" href="" data-form="1">{{register}}</a></div>
            </div>
            <div class="modal__form-wrapper">
                {{#each form}}
                    <form action="authorization" class="modal__form {{#if @first}}active{{/if}}">
                        {{#unless timer}}
                            <h3 class="modal__header">{{message}}
                            </h3>
                            {{#if postMessage}}
                                <h4 class="modal__header--sub">{{postMessage}}</h4>
                            {{/if}}
                            <label for="modal-email-{{@index}}" class="modal__label required">{{../mail-label}}<span
                                    class="star"> *</span></label>
                            <input type="email" name="email" class="modal__input required" id="modal-email-{{@index}}"
                                placeholder="{{../loginPlaceholder}}">
                            <div class="error-wrapper"><span class="modal__message password-error"></span></div>
                            <label for="modal-password-{{@index}}"
                                class="modal__label required">{{../password-label}}<span class="star"> *</span></label>
                            <input type="password" name="password" {{#if @first}}data-nocheck{{/if}}
                                class="modal__input required" id="modal-password-{{@index}}"
                                placeholder="{{../emailPlaceholder}}">
                            <div class="error-wrapper"><span class="modal__message password-error"></span></div>
                            {{#if @first}}<span class="modal__forgot-password">{{forgot}}</span>{{/if}}
                            <button type="submit" class="modal__button" data-mouse>{{button}}</button>
                        {{/unless}}
                        {{#if timer}}
                            {{> ./timer}}
                        {{/if}}
                    </form>
                {{/each}}
            </div>
        </div>
    </div>
</div>