{{#each services}}
    <div id="services">
        <section class="container present services">
            <h2 class="block-title">
                <span>02</span> <span>{{title}}</span>
            </h2>
            <div class="services__table">
                <div class="services__aside">
                    <ul class="services__tabs">
                        {{#each tabs}}
                            <li class="services__tab-item">
                                <a class="hero-slider__service-link{{#if @first}} active{{/if}}" href=""
                                    data-service="{{@index}}">{{tab-item}}</a>
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="hero-slider__svg">
                                    <text class="hero-slider__svgtext" fill="none" stroke="white"
                                        stroke-width="0.5px">{{tab-item}}</text>
                                </svg>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="services__main">
                    {{#each tabs}}
                        <ul class="services__tab-list {{#if @first}}active{{/if}}" data-service="{{@index}}">
                            {{#each serviceList}}
                                <li class="services__card"
                                    style="position: relative;{{#if timerid}}height: 400px;width: 500px;{{/if}}">
                                    <a href="{{href}}" class="services__link">
                                        {{#if timerid}}
                                            {{> ./timer}}
                                        {{else}}

                                            <img class="services__image" src="" alt={{title}} loading="lazy" />
                                            <article class="services__story">
                                                <h2 class="services__title">{{title}}</h2>
                                                <p class="services__description">{{description}}</p>
                                            </article>
                                        {{/if}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    {{/each}}
                </div>
            </div>
        </section>
    </div>
{{/each}}