{{#each services}}
    <section class="container services" id="services">
        <h2 class="block-title">
            <span>03</span> <span>{{title}}</span>
        </h2>
        <div class="services__table">
            <div class="services__aside">
                <ul class="services__tabs">
                    {{#each tabs}}
                        <li class="services__tab-item">
                            <a class="services__service-link{{#if @first}} active{{/if}}" href="/"
                                data-service="{{@index}}">{{tab-item}}</a>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="services__svg">
                                <text class="services__svgtext" fill="none" stroke="white"
                                    stroke-width="0.5px">{{tab-item}}</text>
                            </svg>
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="services__spark"></div>
            <div class="services__main">
                {{#each tabs}}
                    <ul class="services__tab-list {{#if @first}}active{{/if}}" data-service="{{@index}}">
                        {{#each serviceList}}
                            {{> ./service-list}}
                        {{/each}}
                    </ul>
                {{/each}}
            </div>
        </div>
    </section>
{{/each}}