{{#each statistics}}
    <div id="statistics">
        <svg xmlns="http://www.w3.org/2000/svg" width="0px" height="0px">
            <defs>
                <linearGradient id="statisticsGrad" x1="80%" y1="0%" x2="20%" y2="100%">

                    <stop offset="0%" style="stop-color:rgb(58,30,234);stop-opacity:1.00" />
                    <stop offset="15.5%" style="stop-color:rgb(155,81,224);stop-opacity:1.00" />
                    <stop offset="40.2%" style="stop-color:rgb(197,132,144);stop-opacity:1.00" />
                    <stop offset="76.79%" style="stop-color:rgb(248,192,49);stop-opacity:1.00" />
                    <stop offset="100%" style="stop-color:rgb(248,192,49);stop-opacity:1.00" />

                </linearGradient>
            </defs>
        </svg>
        <section class="container present">
            <h2 class="block-title">
                <span>02</span>
                <span>{{title}}</span>
            </h2>
            <article class="statistics" id="id_statistics">
                <div class="statistics__wrapper">
                    <div class="statistics__subtitle-circle">
                        <h3 class="section__header">{{subTitle}}</h3>
                        <div class="statistics__circle" id="id_circle">
                            <div class="speed" id="speed">0 %</div>
                            {{> ./circle}}
                        </div>
                    </div>

                    <ul class="statistics__list">
                        {{#each stats}}
                            <li class="statistics__listitem">
                                <svg class="statistics__value" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <text class="statistics__svgtext" y="110" fill="none" stroke=url(#statisticsGrad)
                                        stroke-width="1px">
                                        {{value}}
                                    </text>
                                </svg>
                                {{!-- <span class="statistics__value">{{value}}</span> --}}
                                <span class="statistics__name">{{name}}</span>
                            </li>
                        {{/each}}
                    </ul>

                </div>
            </article>
        </section>
    </div>
{{/each}}