{{#each statistics}}
    <section class="container" id="statistics">
        <h2 class="block-title">
            <span>02</span>
            <span>{{title}}</span>
        </h2>
        <article class="statistics" id="id_statistics">
            <div class="statistics__wrapper">
                <div class="statistics__subtitle-circle">
                    <h3 class="content-title">{{subTitle}}</h3>
                    <div class="statistics__circle" id="id_circle">
                        <div class="speed" id="speed">99.9 %</div>
                        {{> ./circle}}
                    </div>
                </div>

                <ul class="statistics__list">
                    {{#each stats}}
                        <li class="statistics__listitem">
                            <svg class="statistics__value" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <text class="statistics__svgtext" y="110" fill="none" stroke=url(#statisticsGrad)
                                    stroke-width="1px">
                                    {{value}}
                                </text>
                            </svg>
                            {{!-- <span class="statistics__value">{{value}}</span> --}}
                            <span class="statistics__name">{{name}}</span>
                        </li>
                    {{/each}}
                </ul>

            </div>
        </article>
    </section>
{{/each}}