<article class="new-year-timer">
    <h2 style="white-space: nowrap; color: rgb(171, 178, 199);">{{timer.title}}</h2>
    <div class="timer" id={{timerid}}>
        <div class="field"><span class="value" data-value="days"></span><span class="label">{{timer.days}}</span>
        </div>
        <div class="field"><span class="value" data-value="hours"></span><span class="label">{{timer.hours}}</span>
        </div>
        <div class="field"><span class="value" data-value="mins"></span><span class="label">{{timer.minutes}}</span>
        </div>
        <div class="field"><span class="value" data-value="secs"></span><span class="label">{{timer.seconds}}</span>
        </div>
    </div>
    <div class="clock">
        <div class="clock__wrapper">
            <div class="clock__table">
                <div class="clock__timer" id="{{timerid}}-clock">
                    <div class="clock__arrow"></div>
                </div>
            </div>
        </div>
    </div>
</article>