{{#each services}}
  <div id="home-services" class="home-services">
    <h3 class="section-title">{{title}}</h3>
    <ul class="home-services__list">
      {{#each tabs}}
      <li class="home-services__item  ">
          <h4 class="home-services__title {{#if @first}}active{{/if}}" data-index="{{id}}" >{{tab-item}}</h4>
      </li>
      {{/each}}
    </ul>
    <div class="home-services__tabs-block">
      {{#each tabs}}
      <ul class="home-services__tabs {{#if @first}}active{{/if}}">
        {{#each serviceList}}
        <li class="home-services__tab">
          <h5 class="home-services__subtitle">{{title}}</h5>
          <p class="home-services__description">{{description}}</p>
        </li>
        {{/each}}
      </ul>
    {{/each}}
    </div>



  </div>
{{/each}}
